<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1"/>
<title>Beautiful advanced jQuery background image slideshow</title>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</head>



<div class="links">
<div class="circle">
    <p> hello. my name is</p> <h1>will dennis </h1>
</div>

<%= link_to "http://www.hollerback.co", class: "circle" do %>
  <p>I'm having fun building</p><h1> Hollerback</h1>
<% end %>

<%= link_to "http://www.willdennis.tumblr.com", class: "circle" do %>
  <p>my amateur photos are</p><h1> pictures on the internet</h1>
<% end %>

<%= link_to "http://blog.willdennis.com", class: "circle" do %>
  <p>I write half-baked ideas on</p><h1> that will dennis guy</h1>
<% end %>

<%= link_to "http://twitter.com/willydennis", class: "circle" do %>
  <p>stay updated by following</p><h1>@willydennis </h1>
<% end %>

<%= link_to "http://linkedin.com/in/williamldennis", class: "circle" do %>
  <p>my "work" experience is on</p><h1>linkedin </h1>
<% end %>

<div class="circle">
    <p>i respond to your emails </p><h1> williamldennis</h1> <h1> @gmail.com </h1>
</div>






  <!-- <p id="title"> currently </p>
  <p><%=  link_to "hollerback", "http://www.hollerback.co" %></p>
  <p id="title">social</p>
  <p><%=  link_to "twitter", "http://twitter.com/willydennis" %></p>
  <p><%=  link_to "blog", "http://blog.willdennis.com/" %></p>
  <p><%=  link_to "tumblr", "http://willdennis.tumblr.com" %></p>
  <p><%=  link_to "linkedin", "http://linkedin.com/in/williamldennis" %></p>
  <p><%=  link_to "angellist", "http://angel.co/willydennis" %></p>
  <p id="title">projects</p>
  <p><%=  link_to "moziy", "http://moziy.com" %> </p>
  <p><%=  link_to "yog", "http://getyog.com" %></p>
  <p id="title">previously</p>
  <p><%=  link_to "spinlister", "http://spinlister.com" %></p>
  <p><%=  link_to "usc", "http://usc.edu/" %></p>
  <p><%=  link_to "idealab", "http://idealab.com" %></p>
  <p id="email"><%= mail_to "williamldennis@gmail.com", "email me" %></p> -->
</div>

<div id="image">
<%= image_tag "willzigzag.png" %>
</div>



	<!-- jQuery handles to place the header background images -->
	<!-- <div id="headerimgs">
		<div id="headerimg1" class="headerimg"></div>
		<div id="headerimg2" class="headerimg"></div>
	</div> -->
	<!-- Top navigation on top of the images -->
	<!-- <div id="nav-outer">
		<div id="navigation">
		</div>
	</div> -->
	<!-- Slideshow controls -->
	<!-- <div id="headernav-outer">
		<div id="headernav">
			<div id="back" class="btn"></div>
			<div id="control" class="btn"></div>
			<div id="next" class="btn"></div>
		</div>
	</div> -->
	<!-- jQuery handles for the text displayed on top of the images -->
	<!-- <div id="headertxt">
		<p class="caption">
			<span id="firstline"></span>
			<a href="#" id="secondline"></a>
		</p>
		<p class="pictured">
			<a href="#" id="pictureduri"></a>
		</p>
	</div> -->

