<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1"/>
<title>Beautiful advanced jQuery background image slideshow</title>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</head>


<h1>will dennis</h1>


<div class="links">
	<p id="title"> currently </p>
	<p id="current"> <%=  link_to "spinlister", "http://spinlister.com" %> </p>
	<p id="title">social</p>
	<p><%=  link_to "twitter", "http://twitter.com/willydennis" %></p>
	<p><%=  link_to "tumblr", "http://willdennis.tumblr.com" %></p>
	<p><%=  link_to "linkedin", "http://linkedin.com/n/williamldennis" %></p>
	<p><%=  link_to "angellist", "http://angel.co/willydennis" %></p>
	<p id="title">projects</p>
	<p><%=  link_to "mosey.tv", "http://outlaw.mosey.tv" %></p>
	<p><%=  link_to "yog", "http://getyog.com" %></p>
	<p id="title">previously</p>
	<p><%=  link_to "usc", "http://usc.edu/" %></p>
	<p><%=  link_to "idealab", "http://idealab.com" %></p>
</div>

<div id="image">
<%= image_tag "willdennis.png" %>
</div>



	<!-- jQuery handles to place the header background images -->
	<!-- <div id="headerimgs">
		<div id="headerimg1" class="headerimg"></div>
		<div id="headerimg2" class="headerimg"></div>
	</div> -->
	<!-- Top navigation on top of the images -->
	<!-- <div id="nav-outer">
		<div id="navigation">
		</div>
	</div> -->
	<!-- Slideshow controls -->
	<!-- <div id="headernav-outer">
		<div id="headernav">
			<div id="back" class="btn"></div>
			<div id="control" class="btn"></div>
			<div id="next" class="btn"></div>
		</div>
	</div> -->
	<!-- jQuery handles for the text displayed on top of the images -->
	<!-- <div id="headertxt">
		<p class="caption">
			<span id="firstline"></span>
			<a href="#" id="secondline"></a>
		</p>
		<p class="pictured">
			<a href="#" id="pictureduri"></a>
		</p>
	</div> -->

